@import "./util/util";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
        background: lightgray;
    }

    &::-webkit-scrollbar-thumb {
        background: #000;
    }

    font-family: "Montserrat",
    "Helvetica Neue",
    sans-serif;
}



.flex_container {
    display: flex;
    justify-content: space-around;

    .main {
        display: flex;
        flex: 5;
        flex-direction: column;
        padding: 1rem;
        border-right: 1px solid lightgray;
        margin-bottom: 5rem;

    }
}

@media only screen and (min-width: 786px) {
    .flex_container{
        margin-left: 5rem;

        .main{
            margin-bottom: 0;
            padding: 2rem;
        }
    }
}