@import "./util/util";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    &::-webkit-scrollbar {
        width: 0.25rem;
    }

    &::-webkit-scrollbar-track {
        background: lightgray;
    }

    &::-webkit-scrollbar-thumb {
        background: #000;
    }

    font-family: "Montserrat",
    "Helvetica Neue",
    sans-serif;
}