.search_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    border-bottom: 1px solid lightgray;

    .search {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 50%;
        border: 1px solid lightgray;
        border-radius: 50px;
        padding: 0 1rem;

        svg{
            color:rgb(164, 164, 164);
            margin: 0.5rem;
            transition: all 0.2s ease-in-out;
            cursor: pointer;

            &:hover{
                color: #000;
            }
        }

        input {
            padding: 0.8rem 1rem;
            width: 100%;
            border: none;
            border-radius: 50px;
            font-family: "Montserrat", "Helvetica Neue" , sans-serif;

            
            &::placeholder{
                color: rgb(164, 164, 164);
            }


            &:focus {
                outline: none;
            }
        }
    }

    .search_icons{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        svg{
            cursor: pointer;
        }
        
        span{
            position: relative;
        }

        .noti{
            position: absolute;
            height: 5px;
            width: 5px;
            border-radius: 5px;
            right: 5px;
            top: 5px;
            background-color: red;
        }
    }
}